/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

/*General Styles*/

.navbar-brand {
	font-weight: 700;
}

.nav-link {
	text-align: center;
}

.navbar{
	background-color: #272822;
}

h2 {
	color: #f92c72;
}

.rounded-circle {
	border: 5px solid #e6db74;
}

.orange {
	background-color: #fd971f;
}

.css {
	background-color: #66d9ef;
}
.mysql {
	background-color: #00758f;
}

.bootstrap{
	background-color: #602c50;
}

.js {
	background-color: #e6db74;
}

.php {
	background-color: #4f5b93;
}

.laravel {
	background-color: #f55247;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #f8f8f2;
  line-height: 1.5em;
  background-color: #75715e;
}

.jumbotron {
	background-color: #3e3d32;
	text-align: center;
}

.project-div {
	margin: 0 auto;
}

#about, #skills, #work, #contact {
	text-align: center;
}

.linkedin {
	color: #0077b5;
}

.github {
	color: #6e5494;
}

.fcc {
	color: #006400;
}

.codepen {
	color: #fcd000;
}

/*Footer Section Styles*/
footer {
	position: static;
	bottom: 0;
	width: 100%;
	background-color: #272822;
	text-align: center;
	color: #f8f8f2;
}

footer {
	padding: 1em 0;
}
footer a {
	text-decoration: none;
	color: #f8f8f2;
}

footer a:hover {
	text-decoration: none;
	color: #272822;
	font-weight: 700;
	background-color: #e6db74;
}

.img-size {
	width: 250px;
	height: 150px;
}
